@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: siyuan;
  src: url("../assets/fonts/SourceHanSansCN-Normal.otf");
}

@font-face {
  font-family: sfb;
  src: url("../assets/fonts/SFCompactDisplay-Heavy.otf");
}

@font-face {
  font-family: sfl;
  src: url("../assets/fonts/SFCompactDisplay-Light.otf");
}


* {

  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}

html,
body {
  box-sizing: border-box;
  font-family: "siyuan";
}

html *,
html *::before,
html *::after {

  box-sizing: border-box;

}

body {
  height: 100vh;
  height: 100vh;
  background-color: #ffffff;
  -webkit-tap-highlight-color: transparent;
}
